# work with json file

## 1 read json file using ```pandas``` python library

In [1]:
import pandas as pd
print(f'pandas library import successfully')

pd.read_json('/media/mahfuz/Media/datasets/NLP_learn/data_acquisiton/work-with-json-sql/train.json')

pandas library import successfully

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

## 2. work with sql
here we will work with postgreSQL and the use as the pandas dataframe

#### install ```psycopg2``` library

In [2]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in /home/mahfuz/anaconda3/envs/torch/lib/python3.11/site-packages (2.9.7)

We will have to create ```database.ini``` function in just config a ```.ini``` file in random which you will find in repo but remember this is sencetive information. 

Well, we will configure ```.ini``` file this the following 

```ini
[postgresql]
host=localhost
database=database_name
user=postgres
password=password
```
Now, we will make a ```config()``` function that read the ```database.ini``` file and return connection parameters. The ```config()``` function can be placed in the ```config.py``` file. 

But here I'm scripting in this note book

In [3]:
from configparser import ConfigParser


def config(filename='database.ini', section='postgresql'):

    # create a parser
    parser = ConfigParser()

    # read config file
    parser.read(filename)


    # get section, default to postgresql
    db = {}

    if parser.has_section(section):
        params = parser.items(section)
        for param in params:
            db[param[0]] = param[1]
    else:
        raise Exception(f'Section {section} not found in the {filename} file')
    
    return db

Now, we will script a ```connect()``` function to connect the ```dvdrental``` database and print out the postgreSQL database version.

We can write the script in a file may named ```connect.py``` but we will write in this notebook:

In [4]:
import psycopg2 as pg2

from config import config


# we write above code, so use can use this
# import config

def connect():
    """Connect the postgresql database server"""

    conn = None
    try:
        # 1. read connection parameters
        params = config()

        # 2. connect to the postgresql server
        print('Connecting to the postgreSQL database.....')
        conn = pg2.connect(**params)


        # 3. create cursor
        cur = conn.cursor()

        # 4. execute a statement
        print("PostgreSQL database version: ")
        cur.execute('Select version()')

        # 5. Display the postgresql database version 
        db_version = cur.fetchone()

        # close the connection with postgresql
        cur.close()

    except (Exception, pg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            print("Database connection closed.")
        

if __name__ == '__main__':
    connect()

Connecting to the postgreSQL database.....
PostgreSQL database version.
Database connection closed.

In [22]:
import psycopg2 as pg2
from config import config
import pandas as pd

def read_data():
    conn = None
    try:
        # 1. read connection parameters
        params = config()

        # 2. connect to the postgresql server
        print('Connecting to the postgreSQL database.....')
        conn = pg2.connect(**params)
        print(f'Connection succesfully done.')

        sql = 'select * from world.city;'
        df = pd.read_sql_query(sql, conn)
        # print(df.head())

        # close the connection
        conn.close()
    except (Exception, pg2.DatabaseError) as error:
        print(error)
    finally:
        if conn is not None:
            print("Database connection closed.")
    
    return df

read_data()

Connecting to the postgreSQL database.....
Connection succesfully done.
Database connection closed.

/tmp/ipykernel_38167/3764922101.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query('select * from world.city;', conn)

,id,Name,countrycode,district,population
0,1,Kabul,AFG,Kabol,1780000
1,2,Qandahar,AFG,Qandahar,237500
2,3,Herat,AFG,Herat,186800
3,4,Mazar-e-Sharif,AFG,Balkh,127800
4,5,Amsterdam,NLD,Noord-Holland,731200
...,...,...,...,...,...
4074,4075,Khan Yunis,PSE,Khan Yunis,123175
4075,4076,Hebron,PSE,Hebron,119401
4076,4077,Jabaliya,PSE,North Gaza,113901
4077,4078,Nablus,PSE,Nablus,100231
4078,4079,Rafah,PSE,Rafah,92020

#### connect with ```psycopg2``` library

In [17]:
import pandas as pd
import psycopg2 as pg2 
from config import config


conn = pg2.connect(
    host="localhost",
    database="world",
    user="postgres",
    password="bismillah"
)

In [6]:
query = "select * from world.city;"
df = pd.read_sql_query(query, conn)
df

,id,Name,countrycode,district,population
0,1,Kabul,AFG,Kabol,1780000
1,2,Qandahar,AFG,Qandahar,237500
2,3,Herat,AFG,Herat,186800
3,4,Mazar-e-Sharif,AFG,Balkh,127800
4,5,Amsterdam,NLD,Noord-Holland,731200
...,...,...,...,...,...
4074,4075,Khan Yunis,PSE,Khan Yunis,123175
4075,4076,Hebron,PSE,Hebron,119401
4076,4077,Jabaliya,PSE,North Gaza,113901
4077,4078,Nablus,PSE,Nablus,100231
4078,4079,Rafah,PSE,Rafah,92020

In [19]:
conn.close()

#### Using ```SQLAlchamy```

In [1]:
import pandas as pd
from sqlalchemy import create_engine

you need to install old version of SQLAlchemy, this will make the pandas file to more easiery.

In [7]:
conn = "postgresql+psycopg2://postgres:bismillah@localhost:5432/world"
engine = create_engine(conn)

sql = 'select * from world.city'
world_df = pd.read_sql_query(sql, con=engine)

world_df

,id,Name,countrycode,district,population
0,1,Kabul,AFG,Kabol,1780000
1,2,Qandahar,AFG,Qandahar,237500
2,3,Herat,AFG,Herat,186800
3,4,Mazar-e-Sharif,AFG,Balkh,127800
4,5,Amsterdam,NLD,Noord-Holland,731200
...,...,...,...,...,...
4074,4075,Khan Yunis,PSE,Khan Yunis,123175
4075,4076,Hebron,PSE,Hebron,119401
4076,4077,Jabaliya,PSE,North Gaza,113901
4077,4078,Nablus,PSE,Nablus,100231
4078,4079,Rafah,PSE,Rafah,92020

In [2]:
import sqlalchemy
print(sqlalchemy.__version__)

1.4.0