### Task:
    1. create dataset
    2. perform text preprocessing - multi-class classification
    3. movie titile, description, genere
    4. perform all text preprocessing

## 1. Creating a movies dataset from ```TMDB API```

In [1]:
# import libraries
import pandas as pd
import requests

### fetch data from ```API```

In [ ]:
url = "https://api.themoviedb.org/3/movie/popular?language=en-US&page=1"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI3ZGMxNTBiYTUzODI5ZGI5MzVmZDZmN2U5NzBjYzBkZCIsInN1YiI6IjY0ZTA4N2NmMzcxMDk3MDBhYzQ1MjdhZCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.DeRNsbpLqG7D8y2tvmN6csdncE8UbM7OwGHXD7fWR_w"
}

response = requests.get(url, headers=headers)

print(response.text)

In [ ]:
response.json()

In [ ]:
import pandas as pd

df = pd.DataFrame(response.json()['results'])[['id','title','overview','genre_ids']]
#movie_list = pd.concat(df, axis=0)
df.columns

#### fetch all data from movie list

#### using ```df.append()``` method

In [ ]:
top_rated_movie = pd.DataFrame()

In [ ]:

for pg_num in range(1, 6):
    url = f"https://api.themoviedb.org/3/movie/popular?language=en-US&page={pg_num}"
    headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI3ZGMxNTBiYTUzODI5ZGI5MzVmZDZmN2U5NzBjYzBkZCIsInN1YiI6IjY0ZTA4N2NmMzcxMDk3MDBhYzQ1MjdhZCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.DeRNsbpLqG7D8y2tvmN6csdncE8UbM7OwGHXD7fWR_w"
    }
    response = requests.get(url, headers=headers)
    if 'results' not in response.json():
        continue
    else:
        temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','genre_ids']]
        # top_rated_movie.append(temp_df,  ignore_index=True)
        top_rated_movie = top_rated_movie.append(temp_df, ignore_index=True, )
        #print(top_rated_movie.head(1))
        print(f'Fetched data from - {pg_num} page')

#### using ```pd.concat()``` function

In [ ]:
top_rated_movie.head(22)

In [3]:
tp_movie = []
for pg_num in range(1, 600):
    url = f"https://api.themoviedb.org/3/movie/popular?language=en-US&page={pg_num}"
    headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI3ZGMxNTBiYTUzODI5ZGI5MzVmZDZmN2U5NzBjYzBkZCIsInN1YiI6IjY0ZTA4N2NmMzcxMDk3MDBhYzQ1MjdhZCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.DeRNsbpLqG7D8y2tvmN6csdncE8UbM7OwGHXD7fWR_w"
    }
    response = requests.get(url, headers=headers)
    if 'results' not in response.json():
        continue
    else:
        temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','genre_ids']]
        # top_rated_movie.append(temp_df,  ignore_index=True)
        tp_movie.append(temp_df)
        #print(top_rated_movie.head(1))
        print(f'Fetched data from - {pg_num} page')

Fetched data from - 1 page
Fetched data from - 2 page
Fetched data from - 3 page
Fetched data from - 4 page
Fetched data from - 5 page

In [4]:
len(tp_movie)

5

In [51]:
new_df = pd.concat(tp_movie, axis=0)

In [54]:
new_df.tail()

,id,title,overview,genre_ids
15,635910,The Last Voyage of the Demeter,The crew of the merchant ship Demeter attempts...,"[27, 14]"
16,868759,Ghosted,Salt-of-the-earth Cole falls head over heels f...,"[28, 35, 10749]"
17,566525,Shang-Chi and the Legend of the Ten Rings,Shang-Chi must confront the past he thought he...,"[28, 12, 14]"
18,536554,M3GAN,A brilliant toy company roboticist uses artifi...,"[878, 27]"
19,406563,Insidious: The Last Key,Parapsychologist Elise Rainier and her team tr...,"[27, 9648, 53]"

#### hide

In [ ]:
import requests

url = "https://api.themoviedb.org/3/genre/movie/list?language=en"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI3ZGMxNTBiYTUzODI5ZGI5MzVmZDZmN2U5NzBjYzBkZCIsInN1YiI6IjY0ZTA4N2NmMzcxMDk3MDBhYzQ1MjdhZCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.DeRNsbpLqG7D8y2tvmN6csdncE8UbM7OwGHXD7fWR_w"
}

response = requests.get(url, headers=headers)

print(response.text)