# Problem 1

### Apply all the preprocessing techniques that you think are necessary

In [1]:
import pandas as pd

df = pd.read_csv('/media/mahfuz/Media/datasets/NLP_learn/data_preprocessing/IMDB_dataset_50k_movie_review/IMDB_Dataset.csv')
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [3]:
#df['review'].head()
df.shape

(50000, 2)

### Case lowerning

In [2]:
df['review'] = df['review'].str.lower()
df.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. <br /><br />the...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

### HTML tag remove

In [3]:
import re
def remove_html_tag(text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'', text)
df['review'] = df['review'].apply(remove_html_tag)

In [6]:
df['review'][4]

'petter mattei\'s "love in the time of money" is a visually stunning film to watch. mr. mattei offers us a vivid portrait about human relations. this is a movie that seems to be telling us what money, power and success do to people in the different situations we encounter. this being a variation on the arthur schnitzler\'s play about the same theme, the director transfers the action to the present time new york where all these different characters meet and connect. each one is connected in one way, or another to the next person, but no one seems to know the previous point of contact. stylishly, the film has a sophisticated luxurious look. we are taken to see how these people live and the world they live in their own habitat.the only thing one gets out of all these souls in the picture is the different stages of loneliness each one inhabits. a big city is not exactly the best place in which human relations find sincere fulfillment, as one discerns is the case with most of the people we encounter.the acting is good under mr. mattei\'s direction. steve buscemi, rosario dawson, carol kane, michael imperioli, adrian grenier, and the rest of the talented cast, make these characters come alive.we wish mr. mattei good luck and await anxiously for his next work.'

### Remove URL

In [4]:
def remove_url(text):
    pattern = re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub(r'', text)
df['review'] = df['review'].apply(remove_url)
df['review'][13]

"the cast played shakespeare.shakespeare lost.i appreciate that this is trying to bring shakespeare to the masses, but why ruin something so good.is it because 'the scottish play' is my favorite shakespeare? i do not know. what i do know is that a certain rev bowdler (hence bowdlerization) tried to do something similar in the victorian era.in other words, you cannot improve perfection.i have no more to write but as i have to write at least ten lines of text (and english composition was never my forte i will just have to keep going and say that this movie, as the saying goes, just does not cut it."

### Remove punctuation

In [5]:
import string

pnc = string.punctuation
def remove_punctuation(text):
    return text.translate(str.maketrans('','',pnc))
df['review'] = df['review'].apply(remove_punctuation)
df['review'][20]

'after the success of die hard and its sequels its no surprise really that in the 1990s a glut of die hard on a  movies cashed in on the wrong guy wrong place wrong time concept that is what they did with cliffhanger die hard on a mountain just in time to rescue sly stop or my mom will shoot stallones careercliffhanger is one big nitpickers dream especially to those who are expert at mountain climbing basejumping aviation facial expressions acting skills all in all its full of excuses to dismiss the film as one overblown pile of junk stallone even managed to get outacted by a horse however if you an forget all the nonsense its actually a very lovable and undeniably entertaining romp that delivers as plenty of thrills and unintentionally plenty of laughsyouve got to love john lithgows sneery evilness his tick every box band of baddies and best of all the permanently harassed and hapless turncoat agent rex linn as travershe may of been henry in portrait of a serial killer but michael rooker is noteworthy for a cringeworthy performance as hal he insists on constantly shrieking in painful disbelief at his captors that man never hurt anybody and whilst he surely cant be it really does look like ralph waites frank character is grinning as the girl plummets to her deathmention too must go to former londons burning actor craig fairbrass as the brit bad guy who comes a cropper whilst using hal as a human football yes you cant help enjoy that bit hal needed a good kickingso forget your better judgement who cares if that could never happen lower your acting expectations turn up the volume and enjoy and if youre looking for qaulen hes the one wearing the helicopter'

### Spelling correction

In [8]:
# from textblob import TextBlob

# df['review'] = df['review'].apply(TextBlob.correct())
# df['review'][20]

In [6]:
df['review'][1]

'a wonderful little production the filming technique is very unassuming very oldtimebbc fashion and gives a comforting and sometimes discomforting sense of realism to the entire piece the actors are extremely well chosen michael sheen not only has got all the polari but he has all the voices down pat too you can truly see the seamless editing guided by the references to williams diary entries not only is it well worth the watching but it is a terrificly written and performed piece a masterful production about one of the great masters of comedy and his life the realism really comes home with the little things the fantasy of the guard which rather than use the traditional dream techniques remains solid then disappears it plays on our knowledge and our senses particularly with the scenes concerning orton and halliwell and the sets particularly of their flat with halliwells murals decorating every surface are terribly well done'

In [10]:
#df['review'] = df['review'].apply(correct().string)
#for i in range(0, len(df['review'])):
#    df['review'][i] = df['review'][i].correct().string

In [11]:
df['review'][0]

'one of the other reviewers has mentioned that after watching just 1 oz episode youll be hooked they are right as this is exactly what happened with methe first thing that struck me about oz was its brutality and unflinching scenes of violence which set in right from the word go trust me this is not a show for the faint hearted or timid this show pulls no punches with regards to drugs sex or violence its is hardcore in the classic use of the wordit is called oz as that is the nickname given to the oswald maximum security state penitentary it focuses mainly on emerald city an experimental section of the prison where all the cells have glass fronts and face inwards so privacy is not high on the agenda em city is home to manyaryans muslims gangstas latinos christians italians irish and moreso scuffles death stares dodgy dealings and shady agreements are never far awayi would say the main appeal of the show is due to the fact that it goes where other shows wouldnt dare forget pretty pictures painted for mainstream audiences forget charm forget romanceoz doesnt mess around the first episode i ever saw struck me as so nasty it was surreal i couldnt say i was ready for it but as i watched more i developed a taste for oz and got accustomed to the high levels of graphic violence not just violence but injustice crooked guards wholl be sold out for a nickel inmates wholl kill on order and get away with it well mannered middle class inmates being turned into prison bitches due to their lack of street skills or prison experience watching oz you may become comfortable with what is uncomfortable viewingthats if you can get in touch with your darker side'

### remove emoji

In [7]:
%%time
import re
def remove_emoji(text):
    emoji_pattern = re.compile("["
                               u"\U0001F600-\U0001F64F" # emotions
                               u"\U0001F300-\U0001F5FF" # symbols and pictographs
                               u"\U0001F680-\U0001F6FF" # transport and map symbols
                               u"\U0001F1E0-\U0001F1FF" # flags(iOS)
                               u"\U00002702-\U000027B0"
                               u"\U000024C2-\U0000F251"
                               "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

CPU times: user 4 ¬µs, sys: 0 ns, total: 4 ¬µs
Wall time: 6.91 ¬µs

In [13]:
remove_emoji("loved the movie, it was üòçüòçüòç")

'loved the movie, it was '

In [8]:
df['review'] = df['review'].apply(remove_emoji)

In [9]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production the filming tech...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically theres a family where a little boy j...  negative
4      petter matteis love in the time of money is a ...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot bad dialogue bad acting idiotic direc...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  im going to have to disagree with the previous...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

## remov stop words

In [10]:
import nltk
# nltk.download('stopwords')
from nltk.corpus import stopwords

def remove_stopwords(text):
    new_text = []

    for word in text.split():
        if word in stopwords.words('english'):
            new_text.append('')
        else:
            new_text.append(word)
    x = new_text[:]
    new_text.clear()
    return " ".join(x)

In [11]:
import time
t1 = time.time()

df['review'] = df['review'].apply(remove_stopwords)

t2 = time.time() - t1
print(f'{t2:.2f} seconds')

464.77 seconds

In [12]:
df['review'][3]

'basically theres  family   little boy jake thinks theres  zombie   closet  parents  fighting   timethis movie  slower   soap opera  suddenly jake decides  become rambo  kill  zombieok first    youre going  make  film  must decide    thriller   drama   drama  movie  watchable parents  divorcing arguing like  real life     jake   closet  totally ruins   film  expected  see  boogeyman similar movie  instead  watched  drama   meaningless thriller spots3   10    well playing parents descent dialogs    shots  jake  ignore '

## Lemmatization a dataframe using nltk

In [13]:
import nltk
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
import string

[nltk_data] Downloading package wordnet to /home/mahfuz/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [14]:
wordnet_lemmatizer = WordNetLemmatizer()
punctuations = string.punctuation

sent_words = nltk.word_tokenize(df['review'][3])
print(sent_words)

['basically', 'theres', 'family', 'little', 'boy', 'jake', 'thinks', 'theres', 'zombie', 'closet', 'parents', 'fighting', 'timethis', 'movie', 'slower', 'soap', 'opera', 'suddenly', 'jake', 'decides', 'become', 'rambo', 'kill', 'zombieok', 'first', 'youre', 'going', 'make', 'film', 'must', 'decide', 'thriller', 'drama', 'drama', 'movie', 'watchable', 'parents', 'divorcing', 'arguing', 'like', 'real', 'life', 'jake', 'closet', 'totally', 'ruins', 'film', 'expected', 'see', 'boogeyman', 'similar', 'movie', 'instead', 'watched', 'drama', 'meaningless', 'thriller', 'spots3', '10', 'well', 'playing', 'parents', 'descent', 'dialogs', 'shots', 'jake', 'ignore']

In [15]:
def lemmatizer_word(text):
    sent_words = nltk.word_tokenize(text)
    lemmatize_word = [wordnet_lemmatizer.lemmatize(word, pos='v') for word in sent_words]
    return ' '.join(lemmatize_word)

In [18]:
t1 = time.time()
print(lemmatizer_word(df['review'][32056]))

t2 = time.time() - t1
print(t2)

bridgette bardot look sexy ever play spoil innocent daughter french ambassador con one father top aid womanizer michel marry turn best thing michel soon flirt old girlfriends order teach lesson bridgette flirt heavily marry prince charles michel surprise jealousy catandmouse game ensue brigdette michel ill affairno wont finally michel realize might vow give ladies life bridgette michel settle comfortably happilyeverafter prince charles jet home englandits admittedly light piece incredibly charm may fault product time find completely enjoyable worthy rental
0.000568389892578125

In [19]:
print(t2*50000)

28.41949462890625

In [20]:
df['review'] = df['review'].apply(lemmatizer_word)

### test for memory comsumption

In [21]:
%%time
df

CPU times: user 2 ¬µs, sys: 0 ns, total: 2 ¬µs
Wall time: 4.29 ¬µs

                                                  review sentiment
0      one reviewers mention watch 1 oz episode youll...  positive
1      wonderful little production film technique una...  positive
2      think wonderful way spend time hot summer week...  positive
3      basically theres family little boy jake think ...  negative
4      petter matteis love time money visually stun f...  positive
...                                                  ...       ...
49995  think movie right good job wasnt creative orig...  positive
49996  bad plot bad dialogue bad act idiotic direct a...  negative
49997  catholic teach parochial elementary school nun...  negative
49998  im go disagree previous comment side maltin on...  negative
49999  one expect star trek movies high art fan expec...  negative

[50000 rows x 2 columns]

In [50]:
%%time
df.to_parquet("parquet_format.parquet")

# %%time 
#df_parquet = pd.read_parquet('aprquet_format.parquet')

CPU times: user 159 ms, sys: 60.2 ms, total: 219 ms
Wall time: 264 ms

In [51]:
df_parquet = pd.read_parquet('parquet_format.parquet')

df_parquet.head()

                                              review sentiment
0  one reviewers mention watch 1 oz episode youll...  positive
1  wonderful little production film technique una...  positive
2  think wonderful way spend time hot summer week...  positive
3  basically theres family little boy jake think ...  negative
4  petter matteis love time money visually stun f...  positive

In [52]:
df_parquet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     50000 non-null  object
 1   sentiment  50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     50000 non-null  object
 1   sentiment  50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB

In [54]:
!ls -GFlash parquet_format.parquet

25M -rw-rw-r-- 1 mahfuz 25M Aug 30 02:07 parquet_format.parquet

# Problem 2

## Find out the number of words in the entire corpus and also the total number of unique words(vocabulary) using just python

In [22]:
df.head()

                                              review sentiment
0  one reviewers mention watch 1 oz episode youll...  positive
1  wonderful little production film technique una...  positive
2  think wonderful way spend time hot summer week...  positive
3  basically theres family little boy jake think ...  negative
4  petter matteis love time money visually stun f...  positive

In [23]:
df.columns.unique()

Index(['review', 'sentiment'], dtype='object')

#### find out the number of words in ```df['sentiment']``` corpus

In [24]:
df['sentiment'].value_counts()

sentiment
positive    25000
negative    25000
Name: count, dtype: int64

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     50000 non-null  object
 1   sentiment  50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB

In [28]:
# make all words in a tacks
all_words = " ".join([word for word in df['review']])

In [39]:
sentiment_words = " ".join([word for word in df['sentiment']])

In [37]:
tokenized_words = nltk.tokenize.word_tokenize(all_words)

NameError: name 'nized_words' is not defined

In [38]:
len(tokenized_words)

5996448

In [40]:
sentiment_tokenized_words = nltk.tokenize.word_tokenize(sentiment_words)
len(sentiment_tokenized_words)

50000

In [41]:
print(f"Total corpus of entire dataframe is: {len(sentiment_tokenized_words)+len(tokenized_words)}")

Total corpus of entire dataframe is: 6046448

In [43]:
print(f"Total unique/vocabulary word in df['review'] column is: {len(set(tokenized_words))}")

Total unique/vocabulary word in df['review'] column is: 208959

In [45]:
print(f"Total number of vocabulary in df['sentiment']column is: {len(set(sentiment_tokenized_words))}")

Total number of vocabulary in df['sentiment']column is: 2

# Problem 3

### Apply One Hot Encoding

In [46]:
from sklearn.feature_extraction.text import CountVectorizer

In [49]:
df

                                                  review sentiment
0      one reviewers mention watch 1 oz episode youll...  positive
1      wonderful little production film technique una...  positive
2      think wonderful way spend time hot summer week...  positive
3      basically theres family little boy jake think ...  negative
4      petter matteis love time money visually stun f...  positive
...                                                  ...       ...
49995  think movie right good job wasnt creative orig...  positive
49996  bad plot bad dialogue bad act idiotic direct a...  negative
49997  catholic teach parochial elementary school nun...  negative
49998  im go disagree previous comment side maltin on...  negative
49999  one expect star trek movies high art fan expec...  negative

[50000 rows x 2 columns]

In [52]:
df_one_hot = df.head(3)
df_one_hot

                                              review sentiment
0  one reviewers mention watch 1 oz episode youll...  positive
1  wonderful little production film technique una...  positive
2  think wonderful way spend time hot summer week...  positive

In [53]:
# make all words in a tacks
review_words = " ".join([word for word in df_one_hot['review']])
senti_word = " ".join([word for word in df_one_hot['sentiment']])
all_word = review_words + senti_word

token_word_one = nltk.tokenize.word_tokenize(all_word)
print(f"all corpus of of one hot encodding is: {len(token_word_one)}")
print(f'vacabulary for one hot encoding is: {len(set(token_word_one))}')

all corpus of of one hot encodding is: 340
vacabulary for one hot encoding is: 276

In [62]:
data = {'Category': token_word_one}
dd = pd.DataFrame(data)
dd.T

,0,1,2,3,4,5,6,7,8,9,...,330,331,332,333,334,335,336,337,338,339
Category,one,reviewers,mention,watch,1,oz,episode,youll,hook,right,...,prada,interest,superman,great,comedy,go,see,friendspositive,positive,positive

In [71]:
df_one_hot

                                              review sentiment
0  one reviewers mention watch 1 oz episode youll...  positive
1  wonderful little production film technique una...  positive
2  think wonderful way spend time hot summer week...  positive

In [72]:
encoder = OneHotEncoder()

In [73]:
encoded_data = encoder.fit_transform(df[['review','sentiment']])

<50000x49579 sparse matrix of type '<class 'numpy.float64'>'
	with 100000 stored elements in Compressed Sparse Row format>

In [74]:
encoded_df = pd.DataFrame(encoded_data.toarray(), columns=encoder.get_feature_names_out(['review','sentiment']))

MemoryError: Unable to allocate 18.5 GiB for an array with shape (50000, 49579) and data type float64

In [79]:
encoded_df = pd.get_dummies(df_one_hot, columns=['review','sentiment'], prefix=['mk'])

print(encoded_df)

ValueError: Length of 'prefix' (1) did not match the length of the columns being encoded (2).

In [80]:
encoded_df

,review_one reviewers mention watch 1 oz episode youll hook right exactly happen methe first thing strike oz brutality unflinching scenes violence set right word go trust show faint hearted timid show pull punch regard drug sex violence hardcore classic use wordit call oz nickname give oswald maximum security state penitentary focus mainly emerald city experimental section prison cells glass front face inwards privacy high agenda em city home manyaryans muslims gangstas latinos christians italians irish moreso scuffle death star dodgy deal shady agreements never far awayi would say main appeal show due fact go show wouldnt dare forget pretty picture paint mainstream audiences forget charm forget romanceoz doesnt mess around first episode ever saw strike nasty surreal couldnt say ready watch develop taste oz get accustom high level graphic violence violence injustice crook guard wholl sell nickel inmates wholl kill order get away well mannered middle class inmates turn prison bitch due lack street skills prison experience watch oz may become comfortable uncomfortable viewingthats get touch darker side,review_think wonderful way spend time hot summer weekend sit air condition theater watch lighthearted comedy plot simplistic dialogue witty character likable even well bread suspect serial killer may disappoint realize match point 2 risk addiction think proof woody allen still fully control style many us grow lovethis id laugh one woodys comedies years dare say decade ive never impress scarlet johanson manage tone sexy image jump right average spirit young womanthis may crown jewel career wittier devil wear prada interest superman great comedy go see friends,review_wonderful little production film technique unassuming oldtimebbc fashion give comfort sometimes discomforting sense realism entire piece actors extremely well choose michael sheen get polari voice pat truly see seamless edit guide reference williams diary entries well worth watch terrificly write perform piece masterful production one great master comedy life realism really come home little things fantasy guard rather use traditional dream techniques remain solid disappear play knowledge sense particularly scenes concern orton halliwell set particularly flat halliwells murals decorate every surface terribly well do,sentiment_positive
0,True,False,False,True
1,False,False,True,True
2,False,True,False,True

this is and expensive ```encoding```, for this dataset