# 1. lowercasing

In [1]:
import pandas as pd

df = pd.read_csv('/media/mahfuz/Media/datasets/NLP_learn/data_preprocessing/imdb_top_1000.csv', usecols=['Series_Title','Overview'])

df.head()

               Series_Title                                           Overview
0  The Shawshank Redemption  Two imprisoned men bond over a number of years...
1             The Godfather  An organized crime dynasty's aging patriarch t...
2           The Dark Knight  When the menace known as the Joker wreaks havo...
3    The Godfather: Part II  The early life and career of Vito Corleone in ...
4              12 Angry Men  A jury holdout attempts to prevent a miscarria...

In [2]:
import pandas as pd

df_se = pd.read_csv('/media/mahfuz/Media/datasets/NLP_learn/data_preprocessing/IMDB_dataset_50k_movie_review/IMDB Dataset.csv')

df_se.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [3]:
df_se['review'][3]

"Basically there's a family where a little boy (Jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />This movie is slower than a soap opera... and suddenly, Jake decides to become Rambo and kill the zombie.<br /><br />OK, first of all when you're going to make a film you must Decide if its a thriller or a drama! As a drama the movie is watchable. Parents are divorcing & arguing like in real life. And then we have Jake with his closet which totally ruins all the film! I expected to see a BOOGEYMAN similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. As for the shots with Jake: just ignore them."

In [4]:
df_se['review'][3].lower()

"basically there's a family where a little boy (jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />this movie is slower than a soap opera... and suddenly, jake decides to become rambo and kill the zombie.<br /><br />ok, first of all when you're going to make a film you must decide if its a thriller or a drama! as a drama the movie is watchable. parents are divorcing & arguing like in real life. and then we have jake with his closet which totally ruins all the film! i expected to see a boogeyman similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. as for the shots with jake: just ignore them."

In [5]:
df_se['review'] = df_se['review'].str.lower()

In [6]:
df_se

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. <br /><br />the...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

# 2. Remove HTML Tags

Use regular expression like ```regx``` python library ```re```

In [7]:
import re
def remove_html_tag(text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'', text)

In [8]:
text = df_se['review'][4]
print(text)

petter mattei's "love in the time of money" is a visually stunning film to watch. mr. mattei offers us a vivid portrait about human relations. this is a movie that seems to be telling us what money, power and success do to people in the different situations we encounter. <br /><br />this being a variation on the arthur schnitzler's play about the same theme, the director transfers the action to the present time new york where all these different characters meet and connect. each one is connected in one way, or another to the next person, but no one seems to know the previous point of contact. stylishly, the film has a sophisticated luxurious look. we are taken to see how these people live and the world they live in their own habitat.<br /><br />the only thing one gets out of all these souls in the picture is the different stages of loneliness each one inhabits. a big city is not exactly the best place in which human relations find sincere fulfillment, as one discerns is the case with most of the people we encounter.<br /><br />the acting is good under mr. mattei's direction. steve buscemi, rosario dawson, carol kane, michael imperioli, adrian grenier, and the rest of the talented cast, make these characters come alive.<br /><br />we wish mr. mattei good luck and await anxiously for his next work.

In [9]:
df_se['review'] = df_se['review'].apply(remove_html_tag)

In [10]:
df_se['review'][4]

'petter mattei\'s "love in the time of money" is a visually stunning film to watch. mr. mattei offers us a vivid portrait about human relations. this is a movie that seems to be telling us what money, power and success do to people in the different situations we encounter. this being a variation on the arthur schnitzler\'s play about the same theme, the director transfers the action to the present time new york where all these different characters meet and connect. each one is connected in one way, or another to the next person, but no one seems to know the previous point of contact. stylishly, the film has a sophisticated luxurious look. we are taken to see how these people live and the world they live in their own habitat.the only thing one gets out of all these souls in the picture is the different stages of loneliness each one inhabits. a big city is not exactly the best place in which human relations find sincere fulfillment, as one discerns is the case with most of the people we encounter.the acting is good under mr. mattei\'s direction. steve buscemi, rosario dawson, carol kane, michael imperioli, adrian grenier, and the rest of the talented cast, make these characters come alive.we wish mr. mattei good luck and await anxiously for his next work.'

In [11]:
sentence1 = 'check out my notebook https://www.kaggle.com/mahfuz-raihan/notebook23423labs'
senctence2 = 'the film has a sophisticated luxurious look check https://www.linkedin.com/feed/'
senctence3 = 'power and success do to people in the different www.learnpytorch.io'
sentence4 = 'power and success http://www.hackerrank.com/mahfuz_raihan?hr_r=1 to search www.google.com'

# 3. Remove URL

In [12]:
# url removal function
def remove_url(text):
    pattern = re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub(r'', text)

In [13]:
remove_url(sentence1)

'check out my notebook '

In [14]:
remove_url(senctence2)

'the film has a sophisticated luxurious look check '

In [15]:
remove_url(senctence3)

'power and success do to people in the different '

In [16]:
remove_url(sentence4)

'power and success  to search '

# 5. Remove Punctuation

In [17]:
# python string fuction and time to get time stamp
import string, time

# check the punctuation in python library
pnc = string.punctuation
print(pnc)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

Define the ```1st method``` to remove the ```python``` defined punctuation

In [18]:
# define the punctuation remove function
def remove_punc(text):
    for char in pnc:
        text = text.replace(char, '')
    return text

In [19]:
text1 = 'wow! you are doing awsome. and do you need that? really?!'

pass the text and track the time, how much ```1st method``` take time to execute the user defined punctuation remover

In [20]:
start = time.time() # track current time
print(remove_punc(text1))
time1 = time.time() - start # difference with start time
print(time1)

wow you are doing awsome and do you need that really
9.107589721679688e-05

How many time takes to process the 50,000 data using ```1st method```

In [21]:
print(time1 * 50000)

4.553794860839844

making another ```2nd method``` to remove ```punctuation```

In [22]:
# another function to remove punctuation
def remove_punc1(text):
    return text.translate(str.maketrans('','',pnc))

Execute the ```2nd method``` and track the time, it taken.

In [23]:
st = time.time()
remove_punc1(text1)
time2 = time.time() - st
print(time2)

4.4345855712890625e-05

Checking how faster the ```2nd method``` regard ```1st method```

In [24]:
print(time1/time2)

2.053763440860215

check how many time we need if, we process 50,000 data using ```remove_punc1()```

In [25]:
print(time2*50000)

2.2172927856445312

now time to check on dataset base called ```twitter sentiment analysis``` from [kaggle](https://www.kaggle.com/datasets/arkhoshghalb/twitter-sentiment-analysis-hatred-speech)

In [26]:
rm_p_df_train = pd.read_csv('/media/mahfuz/Media/datasets/NLP_learn/data_preprocessing/twitter_sentiment_analysis/train.csv')
rm_p_df_test = pd.read_csv('/media/mahfuz/Media/datasets/NLP_learn/data_preprocessing/twitter_sentiment_analysis/test.csv')

check the train data ```sample``` and find ```data shape```

In [27]:
rm_p_df_train.head()
#rm_p_df_train.shape

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

check the test data ```sample``` and find ```data shape```

In [28]:
#rm_p_df_test.head()
rm_p_df_test.shape

(17197, 2)

time to apply ```1st method``` and ```2nd method``` on the dataset

In [29]:
start_time = time.time()
rm_p_df_train['tweet'].apply(remove_punc)
end_time_1 = time.time() - start_time
print(end_time_1)

0.06783318519592285

In [30]:
rm_p_df_train['tweet'].apply(remove_punc)

0         user when a father is dysfunctional and is so...
1        user user thanks for lyft credit i cant use ca...
2                                      bihday your majesty
3        model   i love u take with u all the time in u...
4                     factsguide society now    motivation
                               ...
31957    ate user isz that youuuðððððð...
31958      to see nina turner on the airwaves trying to...
31959    listening to sad songs on a monday morning otw...
31960    user sikh temple vandalised in in calgary wso ...
31961                      thank you user for you follow
Name: tweet, Length: 31962, dtype: object

In [31]:
start_time = time.time()
rm_p_df_train['tweet'] = rm_p_df_train['tweet'].apply(remove_punc1)
end_time_2 = time.time() - start_time
print(end_time_2)

0.1077415943145752

In [32]:
rm_p_df_train['tweet'].apply(remove_punc1)

0         user when a father is dysfunctional and is so...
1        user user thanks for lyft credit i cant use ca...
2                                      bihday your majesty
3        model   i love u take with u all the time in u...
4                     factsguide society now    motivation
                               ...
31957    ate user isz that youuuðððððð...
31958      to see nina turner on the airwaves trying to...
31959    listening to sad songs on a monday morning otw...
31960    user sikh temple vandalised in in calgary wso ...
31961                      thank you user for you follow
Name: tweet, Length: 31962, dtype: object

In [33]:
end_time_1/end_time_2

0.6295914370625425

In [34]:
rm_p_df_train

          id  label                                              tweet
0          1      0   user when a father is dysfunctional and is so...
1          2      0  user user thanks for lyft credit i cant use ca...
2          3      0                                bihday your majesty
3          4      0  model   i love u take with u all the time in u...
4          5      0               factsguide society now    motivation
...      ...    ...                                                ...
31957  31958      0  ate user isz that youuuðððððð...
31958  31959      0    to see nina turner on the airwaves trying to...
31959  31960      0  listening to sad songs on a monday morning otw...
31960  31961      1  user sikh temple vandalised in in calgary wso ...
31961  31962      0                    thank you user for you follow

[31962 rows x 3 columns]

In [35]:
start_time = time.time()
rm_p_df_test['tweet'] = rm_p_df_test['tweet'].apply(remove_punc1)
end_time_2 = time.time() - start_time
print(end_time_2)
rm_p_df_test

0.06110644340515137

          id                                              tweet
0      31963  studiolife aislife requires passion dedication...
1      31964   user white supremacists want everyone to see ...
2      31965  safe ways to heal your acne    altwaystoheal h...
3      31966  is the hp and the cursed child book up for res...
4      31967    3rd bihday to my amazing hilarious nephew el...
...      ...                                                ...
17192  49155  thought factory leftright polarisation trump u...
17193  49156  feeling like a mermaid ð hairflip neverread...
17194  49157  hillary campaigned today in ohioomg amp used w...
17195  49158  happy at work conference right mindset leads t...
17196  49159  my   song so glad free download  shoegaze newm...

[17197 rows x 2 columns]

In [36]:
rm_p_df_train

          id  label                                              tweet
0          1      0   user when a father is dysfunctional and is so...
1          2      0  user user thanks for lyft credit i cant use ca...
2          3      0                                bihday your majesty
3          4      0  model   i love u take with u all the time in u...
4          5      0               factsguide society now    motivation
...      ...    ...                                                ...
31957  31958      0  ate user isz that youuuðððððð...
31958  31959      0    to see nina turner on the airwaves trying to...
31959  31960      0  listening to sad songs on a monday morning otw...
31960  31961      1  user sikh temple vandalised in in calgary wso ...
31961  31962      0                    thank you user for you follow

[31962 rows x 3 columns]

In [37]:
rm_p_df_test

          id                                              tweet
0      31963  studiolife aislife requires passion dedication...
1      31964   user white supremacists want everyone to see ...
2      31965  safe ways to heal your acne    altwaystoheal h...
3      31966  is the hp and the cursed child book up for res...
4      31967    3rd bihday to my amazing hilarious nephew el...
...      ...                                                ...
17192  49155  thought factory leftright polarisation trump u...
17193  49156  feeling like a mermaid ð hairflip neverread...
17194  49157  hillary campaigned today in ohioomg amp used w...
17195  49158  happy at work conference right mindset leads t...
17196  49159  my   song so glad free download  shoegaze newm...

[17197 rows x 2 columns]

# 6. Chat word treatment

this section is skipping but cover letter

# 7. Spelling correction

There are several python library to ```spelling correction``` like ```textblob```,```SpyCe```, ```NLTK```

In [40]:
from textblob import TextBlob

In [45]:
incorrect_text = 'ceertain conditionas seveal ggenratation aree moodified inn a same mannerss.'
text_blb = TextBlob(incorrect_text)
text_blb

TextBlob("ceertain conditionas seveal ggenratation aree moodified inn a same mannerss.")

In [46]:
text_blb.correct().string

'certain conditions several ggenratation are modified inn a same manners.'

# 8. Removeing stop words